$main-font: "Josefin Sans", sans-serif;
$secondary-font: "Aleo Regular";
$main-color: #fff;
$secondary-color: #e8e8e8;
$main-button-color: #5474fd;
$navigation-color: #5474fd;
$icon-main-color: #fff;
$icon-hover-color: #5474fd;
$icon-secondary-color: #5474fd;
